

main{
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-gap: 1em;
}

section button{
    background-color: var(--color-highlight);
    color: var(--color-texst);
    font-size: 1.2em;
    max-height: 3em;
    max-width: 4em;
}
article img{
    max-width: 4em;
}
article>:first-child{
    grid-row:1;
    grid-column-start:1;
    grid-column-end:6;
}
article>:nth-child(2){
    grid-row:2;
    grid-column:1;
}

main>:nth-child(2)>ul li{
	display: grid;
	grid-template-columns:6em 4em 4em 4em 4em;
	grid-template-rows:1fr 1fr .125fr;
	grid-gap: .125em;
}

main>:nth-child(2)>ul li h2,h3,p{/*stijling personages*/
	margin: 0;
	margin-top: .5em;
}

main>:nth-child(2)>:nth-child(2)>li{/*banners titan*/
	background-image:url(../images/achtergrond-titan.jpg);
	background-repeat: no-repeat;
}
main>:nth-child(2)>:nth-child(3)>li{/*banners warlock*/
	background-image:url(../images/achtergrond-warlock.jpg);
	background-repeat:no-repeat;
}
main>:nth-child(2)>:nth-child(4)>li{/*banners hunter*/
	background-image:url(../images/achtergrond-hunter.jpg);
	background-repeat: no-repeat;
}

main>:nth-child(2)>:nth-child(2)>li h2{
    grid-row:1;
    grid-column:2;
    }
main>:nth-child(2)>:nth-child(2)>li p{
    grid-row:1;
    grid-column:4;
    }
main>:nth-child(2)>:nth-child(2)>li h3{
    grid-row:2;
    grid-column:2;
    }
 main>:nth-child(2)>:nth-child(3)>li h2{
    grid-row:1;
    grid-column:2;
    }
 main>:nth-child(2)>:nth-child(3)>li p{
    grid-row:1;
    grid-column:4;
    }
main>:nth-child(2)>:nth-child(3)>li h3{
    grid-row:2;
    grid-column:2;
    }
main>:nth-child(2)>:nth-child(4)>li h2{
    grid-row:1;
    grid-column:2;
    }
main>:nth-child(2)>:nth-child(4)>li p{
    grid-row:1;
    grid-column:4;
    }
main>:nth-child(2)>:nth-child(4)>li h3{
    grid-row:2;
    grid-column:2;
    }/*stijling personages*/


 article{
     display:grid;
     grid-template-columns: 4em 14em 14em 24em 4em;
     grid-template-rows:4em 16em 16em 16em 16em 16em;
     grid-gap: .125em;
 }
 article>:nth-child(2){
    display:grid;
    grid-template-columns: 1fr 40em 1fr 1fr;
    grid-column-start:1;
    grid-column-end:6;
    grid-gap: .125em;
    grid-row: 1;
 }

 article>:nth-child(2)>:nth-child(2){
   grid-column:4;
 }
 article>:nth-child(2)>:nth-child(3){
    grid-column:5;
  }

  article>:nth-child(3){
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-row:2;
    grid-column:1;
  }

  article>:nth-child(4){
    grid-row:2;
    grid-column:2;
    display:grid;
    grid-template-columns:4em 4em 4em;
    grid-template-rows:4em 4em 4em 4em;
    grid-gap: .125em;
  }

  article>:nth-child(5){
    grid-row:2;
    grid-column:3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article>:nth-child(6){
    grid-row:2;
    grid-column:4;
    display:grid;
    grid-gap:.125em;
    grid-template-rows:4em 4em 4em 4em;
  }

  article>:nth-child(6)>:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: .25em;
  }
  article>:nth-child(6)>:nth-child(3){
    display: grid;
    grid-template-columns: 2em 2em 2em 2em 2em 2em 2em 2em 2em 2em;
    grid-gap:.125em;
  }
  article>:nth-child(6)>:nth-child(3) img{
    max-width: 2em;
  }

  article>:nth-child(6)>:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article>:nth-child(6)>:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article>:nth-child(7){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row:2;
    grid-column:6;
  }

  @media all and (max-width: 1550px){
    main>:nth-child(3){
        grid-row:2 ;
        grid-column: 1;
    }
  }

  @media all and (max-width: 1100px){
    article>:nth-child(2){
        display:grid;
        grid-template-columns: 1.5em 8em .1em 8em;
        grid-column-start:1;
        grid-column-end:6;
        grid-gap: .125em;
     }


     article>:nth-child(5){
        grid-row:3;
        grid-column:2;
      }

      article>:nth-child(6){
        grid-row:4;
        grid-column:1;
      }
      article>:nth-child(7){
        
        grid-row:5;
        grid-column:2;
      }

      section button{
        font-size: 1em;
    }

  }