/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#212136;
	--background-volt:#57575f;
	--color-highlight:#ffce1f;
	--color-navigatie:#121213;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


body {
  color:var(--color-text);
  background-color:var(--color-background);
}


header{
	display: flex;
	flex-direction: row;
	gap:1em;
	margin-bottom: 1em;
}
header>a img{
	min-width: .125fr;
	max-width: .125fr;
}

.hide{
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}/*https://www.a11yproject.com/posts/how-to-hide-content/*/

button{
	background-color:var(--color-background);
	border:none
}

a{
	color: var(--color-text);
}

button:hover{
	border: solid var(--color-text) .125em;
}
button:focus{
	border: solid var(--color-text) .125em;
	transform: rotate(5deg);
}

:nth-child(n+3)>li img:hover{
	border: solid var(--color-text) .125em;
}
ul>li img:focus{
	border: solid var(--color-text) .125em;
	transform: rotate(5deg);
}


a:hover{
	border: solid var(--color-text) .125em;
}

a:focus{
	border: solid var(--color-text) .125em;
	transform: rotate(5deg);
}
header>ul{
	display:none;
	position: fixed;
	top: 3em;
	height: 100%;
	width: 16em;
}
header>ul>li{
	background-color:var(--color-navigatie);
}

header>ul.show{
	display:inline;
	position: fixed;
	background-color:var(--color-navigatie);
}

a:link { 
	text-decoration: none;
 }

li{
	list-style: none;
}
header>a,button{
	min-width: 8em;
	max-width: 10em;
}
header>a>img{
	max-width: 8em;
}


strong{
	color:var(--color-highlight);
	font-size: 1.2em;
}

header>:nth-child(4){
	min-width: 4em;
	max-width: 10em;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	background-image: radial-gradient( var(--color-background) 50%, var(--color-text) 50%);
	
}
header>:nth-child(4)>div{
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: var(--color-highlight);
}

