/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#cccccc;
	--color-background:#212136;
	--background-volt:#57575f;
	--color-highlight:#ffce1f;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


body {
  color:var(--color-text);
  background-color:var(--color-background);
}


header{
	display: flex;
	flex-direction: row;
	gap:1em;
	margin-bottom: 1em;
}
header>a img{
	min-width: 6em;
}

h1{
	display: none;
}

button{
	background-color:var(--color-background);
	border:none;
}
button:hover,select{
	border: solid var(--color-text) .125em;
}
header>a:hover,select{
	border: solid var(--color-text) .125em;

	
}
header>ul{
	display: none;
}



nav ul{/*hier start de styling voor de nav*/
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2em;
}

nav>ul li{
	display: grid;
	grid-template-columns:5em 1fr 1fr 1fr 2fr;
	grid-template-rows:1fr 1fr 1em;
	grid-gap: .125em;
}

nav>ul li h2,h3,p{/*stijling personages*/
	margin: 0;
	margin-top: .5em;
}

nav>ul>:first-child{
	background-image:url(../images/achtergrond-titan.jpg);
	background-repeat: no-repeat;
}
nav>ul>:nth-child(2){
	background-image:url(../images/achtergrond-warlock.jpg);
	background-repeat: no-repeat;
}
nav>ul>:nth-child(3){
	background-image:url(../images/achtergrond-hunter.jpg);
	background-repeat: no-repeat;
}
nav>ul>:nth-child(4){
	background:var(--background-volt);
}

nav>ul>li h2{
grid-row:1;
grid-column:2;
}
nav>ul>li p{
grid-row:1;
grid-column:4;
}
nav>ul>li h3{
grid-row:2;
grid-column:2;
}

nav>ul>:last-child :nth-child(1){/* stijling volt*/
	grid-row:1;
	grid-column:1;	
}
nav>ul>:last-child :nth-child(3){
	grid-row:1;
	grid-column:3;	
}
nav>ul>:last-child :nth-child(5){
	grid-row:1;
	grid-column:5;	
}
nav>ul>:last-child :nth-child(7){
	grid-row:2;
	grid-column:2;	
}/*hier eindicht de styling voor de header*/







/* star power berekening*/
main>section{
	display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap: 2em;
}
main>section>ol{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .125em;
}

main>section>ol>li{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .125em;
}
/* eind power berekening*/



main>:nth-child(4){/*inventory hoofd grid*/
	grid-gap: 0;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

main>:nth-child(4) ul{/*inventory layout*/
	display: grid;
	grid-template-columns:4em 4em 4em 4em;
	grid-template-rows:4em 4em 4em;
	grid-gap:.25em;
	margin-bottom: 1em;
}
main>:nth-child(4)>ul li{/*inventory li setings*/
	list-style: none;
}
main>:nth-child(4)>ul>li>img{/*inventory img setings*/
	min-width: 1em;
	min-height: 1em;
	max-width: 4em;
	
}

main>:nth-child(4)>ul>li>img:hover,select{
	transform: rotate(5deg);
	border: solid rgb(224, 234, 188) .125em;
	
}

main>:nth-child(4)>ul>li:nth-child(5){/*inventory img positie*/
	grid-column: 2;
}
main>:nth-child(4)>ul>li:nth-child(8){
	grid-column:2 ;
}

main>:nth-child(4)>:nth-child(4){
	grid-row: 2;
	grid-column: 1;
}
main>:nth-child(4)>:nth-child(5){
	grid-row: 2;
	grid-column: 2;
}
main>:nth-child(4)>:nth-child(6){
	grid-row: 2;
	grid-column: 3;
}
main>:nth-child(4)>:nth-child(7){
	grid-row: 3;
	grid-column: 1;
}
main>:nth-child(4)>:nth-child(8){
	grid-row: 3;
	grid-column: 2;
}
main>:nth-child(4)>:nth-child(9){
	grid-row: 3;
	grid-column: 3;
}

main>:nth-child(4)>:nth-child(10){
	grid-column: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}/*inventory img positie*/

main>:nth-child(4):nth-child(10)>li:nth-child(5){/* vault grid layout*/
	grid-column: 1;	
}
main>:nth-child(4)>:nth-child(10)>li:nth-child(8){
	grid-column: 1;
	grid-row: 2;
}
